.foo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 100vw;
    background-color: #222630;
}

li {
    list-style: none;
    text-align: left;
    font-weight: 400;
    /* font */
}

li:first-child {
    font-weight: 800;
}

.info {
    display: flex;
    padding: 2rem;
    width: 100vw;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.infoSub {
    display: flex;
}

.reserved {
    background-color: #191d24;
    width: 100vw;
}

@media screen and (max-width: 600px) {
    .info {
        font-size: 14px;
        gap: 1rem;
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {
    .info {
        justify-content: flex-start;
    }

    .secChild {
        margin-left: 24px;
    }
}

@media screen and (max-width: 250px) {
    .secChild {
        margin-left: 0;
    }
}