.headSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(17, 17, 17);
    height: 15vh;
    padding: 0 2rem;
    z-index: 1;
}

.logo img {
    height: 15vh;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    font-size: 2rem;
}

.links {
    text-decoration: none;
    color: #ffffff;
}

.cartNav {
    font-size: 2rem;
}

@media screen and (max-width: 780px) {
    .menu {
        display: block;
        cursor: pointer;
    }

    .bar {
        width: 20px;
        height: 3px;
        display: block;
        background-color: #ffffff;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav {
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        top: 15vh;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: rgb(17, 17, 17);
        padding: 0 3rem;
    }
    
    .nav.active {
        visibility: visible;
        left: 0;
    }

    .nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
}

