.headSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a303c;
    height: 15vh;
    padding: 0 2rem;
    z-index: 1;
}

/* .logo img {
    height: 15vh;
} */

.menu {
    position: fixed;
    top: 2rem;
    left: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.links {
    text-decoration: none;
    color: #ffffff;
    background-color: #242933;
    padding: 1rem;
    border-radius: 1rem;
}

.links:hover {
    background-color: #25c7da;
}

/* .links .active {
    background-color: #25c7da;
} */

.cartNav {
    font-size: 2rem;
}

.cartIcon {
    font-size: 2rem;
}

.cartNav button {
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: #2a303c;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.cardCounter {
    /* background-color: white; */
    background-color: #25c7da;
    color: whitesmoke;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: 0.5rem;
    z-index: 1;
    padding: 2px;
    /* cursor: pointer; */
}

@media screen and (max-width: 780px) {
    .menu {
        display: block;
        cursor: pointer;
        position: relative;
        top: auto;
        left: auto;
    }

    .bar {
        width: 20px;
        height: 3px;
        display: block;
        background-color: #ffffff;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .menu.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav {
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        top: 15vh;
        left: -100%;
        text-align: center;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: #242933;
        padding: 0 3rem;
    }
    
    .nav.active {
        visibility: visible;
        left: 0;
    }

    .nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 15vh;
    }

    .links {
        padding: 0;
        border-radius: 0;
        background-color: none;
    }

    .links:hover {
        background-color: #242933;
        color: #25c7da;
    }
}